# Binaries
**bin/
!external/mono/bin
**bin-int/

# xmake
.xmake/
build/
vsxmake*/

# IDE folders
.idea/
.vscode/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user

# LFS Folders
lfs/
hooks/

# imgui
#**imgui.ini