[submodule "glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "FastNoise"]
	path = external/FastNoise
	url = https://github.com/Auburn/FastNoise
[submodule "Box2D"]
	path = external/Box2D
	url = https://github.com/Kethers/Box2D.git
